--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchvision
sentence-transformers==2.2.2
numpy
fastapi
uvicorn[standard]
python-dotenv
pydantic
httpx
duckduckgo-search
trafilatura
pinecone
requests
openai
APScheduler
feedparser
reportlab

supabase==2.4.0
